	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/10/2020 16:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-solidarity:before { content: "\f100"; }
.flaticon-donation:before { content: "\f101"; }
.flaticon-love:before { content: "\f102"; }
.flaticon-house:before { content: "\f103"; }
.flaticon-hospital:before { content: "\f104"; }
.flaticon-fast-food:before { content: "\f105"; }
.flaticon-graduation-cap:before { content: "\f106"; }
.flaticon-index:before { content: "\f107"; }
.flaticon-event:before { content: "\f108"; }
.flaticon-charity:before { content: "\f109"; }
.flaticon-helping-hand:before { content: "\f10a"; }